<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php">
    <testsuites>
        <testsuite name="RavenBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <file>./Service/LiveRavenService.php</file>
                <file>./Exception/OpenSslException.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
